{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}

<div class="container shadow-lg p-5 my-5" style="background-color:rgb(181, 175, 223); height: 56vh;" >
        <img class="rounded-5 shadow-lg" src="/static/img/team.png"  alt="" style="height: 40vh; width:25em; position: relative; left: 50em;">
</div>

<div>
    <p style="position: absolute; top: 20vh; left: 10em; right: 40em;"> <strong>"MindfulEd: Exploring the World of Learning"</strong> is an engaging and informative education blog designed to provide readers with valuable insights, tips, and resources related to various aspects of education. Whether you're a student, parent, educator, or lifelong learner, this blog aims to be your go-to source for navigating the ever-evolving world of education.
    </p>
</div>

<div>
    <p style="position: absolute; top: 40vh; left: 10em; right: 40em;"> With its comprehensive range of topics, <b>"MindfulEd"</b> aims to inspire, inform, and empower readers to make the most of their educational experiences, no matter their age or background. The blog is committed to fostering a community of learners who are excited about personal growth and contributing positively to the world through education.
    </p>
</div>

{% endblock body %}