{% extends 'base.html' %}

{% block body %}
 
    <div class="container p-5">

        <div class="row g-0">            
            <div class="card-body">
                <h5 class="card-title">{{viewBlogObj.title}}</h5>
                {{obj.id}}
                <h6 class="text-primary">Author: {{viewBlogObj.author}}</h6>
                <p class="card-text">{{viewBlogObj.content|safe}}</p>
                <p class="card-text"><small class="text-body-secondary">{{viewBlogObj.post_date}}</small></p>
                <a href="{% url 'allblogs' %}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    
    </div>

{% endblock body %}