/* #navbar div a{
    color: white;
    display: block;
    padding: 2px 20px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar div a:hover{
    color: black;
    background-color:white;
} */




#navbar ul li a{
      color: white;
      display: block;
      padding: 2px 22px;
      border-radius: 20px;
      text-decoration: none;
}
#navbar ul li a:hover{
      color: black;
      background-color:white;
      
}
/* 
.div-main {
    background-image: url(/static/img/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}
  */